$anms-primary: mat-palette($mat-light-green, 500);
$anms-accent: mat-palette($mat-lime, A700);
$anms-warn: mat-palette($mat-lime, A400);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
