#myFrame {
  font-family: 'Montserrat', sans-serif;
}
div #viewport,
#viewport canvas {
	overflow: hidden !important;
}
#viewport, canvas {
  position: absolute;
  left: 0; right: 0;
	top: 0; bottom: 0;
}
#viewport canvas {
	position: fixed;
	top: 64px;
	max-width: 100vw;
	max-height: 100vh;
}
.mat-drawer-content {
	overflow: hidden !important;
}
.left-menu, .right-menu {
	position: absolute;
	width: 300px;
	z-index: 9999;
	display: block;
	top: 80px;
}
.left-menu {
	left: 5px;
  transition: left .8s cubic-bezier(0.42, 0, 0.15, 1.4);
  animation-duration: 2s;
	animation-name: zoomInLeft;
	
}
.left-menu.hidden {
	left: -250px;
}
.right-menu {
	right: 5px;
	width: 300px;
  transition: right .8s cubic-bezier(0.42, 0, 0.15, 1.4);
  animation-duration: 2s;
  animation-name: zoomInRight;
}
.right-menu.hidden {
	right: -250px;
}

.menu-tab {
	background-color: rgba(255,255,255,.4);
	position: absolute;
	top: 0;
	left: 0;
	width: 300px;
	height: 50px;
}
.right-menu .menu-tab {
	width: 300px;
}
.tab-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 50px;
	padding: 20px;
}
.right-menu .tab-title {
	width: 250px;
}
.tab-icon {
	position: absolute;
	top: 0;
	right: 0;
	width: 50px;
	height: auto;
	float: right;
	box-shadow: 1px 1px 1px lightgrey;
	z-index: 2;
}
.tab-icon button {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	max-width: 50px;
	height: 50px;
	margin: 0;
	background-color: #78B937;
	border: none;
	padding: 0;
	font-size: 20px;
	color: black;
}
.tab-icon button:hover {
	background-color: rgba(255,255,255,.7);
	color: rgba(0,0,0,.7);
}

.left-menu .mat-grid-tile {
	overflow: initial;
	min-height: 26px;
}

.newElem {
	width: 100%;
}

// .left-menu .tab-title {
// 	border-left: 1px solid rgba(0,0,0,.3);
// 	border-top: 1px solid rgba(0,0,0,.3);
// }
.left-menu .tab-icon {
	// border: 1px solid rgba(0,0,0,.3);
	border-left: none;
}

.right-menu .tab-title {
	// border-right: 1px solid rgba(0,0,0,.3);
	// border-top: 1px solid rgba(0,0,0,.3);
	left: auto;
	right: 0;
}
.right-menu .tab-icon {
	// border: 1px solid rgba(0,0,0,.3);
	border-right: none;
	left: 0;
	right: auto;
}

.menu-content {
	position: absolute;
	top: 50px;
	left: 0;
	display: block;
	width: 250px;
	background-color: rgba(255,255,255,.4);
	// border: 1px solid rgba(0,0,0,.3);
	border-top: none;
	padding: 20px;
	box-shadow: 1px 1px 1px lightgrey;
}
.right-menu .menu-content {
	right: 0;
	left: auto;
	width: 250px;
}
.submenu {
	background-color: grey;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-radius: 5px;
}
.menu-title, .badass-button {
	color: #fff;
	text-transform: uppercase;
	background-color: #78B937;
	padding: 7px 10px;
	font-size: 24px;
	margin: 0;
	display: block;
	text-decoration: none;
}
.menu-item {
	display: block;
	text-decoration: none;
	color: #333;
	margin: 10px 0;
  padding-left: 20px;
  text-align: left;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
}

.menuBtn:hover {
  color: #333;
  background: rgba(255,255,255,.7)
}
.right-menu .menu-item {
	font-size: 13px;
}
.overflower {
	height: 100px;
	overflow: scroll;
}

.toolbar {
	position: absolute;
	z-index: 99999;
	left: 0px;
	bottom: 5px;
	background-color: rgba(255,255,255,.4);
	border: 1px solid rgba(0,0,0,.3);
}

.toolbar-item {
	display: inline-block;
}
.toolbar-separator{
	display: inline-block;
	width: 2px;
	background-color: rgba(0,0,0,.4);
	height: 20px;
}

.hide {
	display: none;
}
#history {
	width: 100%;
	height: 100%;
	background-color: none;
}


/* Animations */

@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}
